{% block page_content %}
<div class="page-header">
	<h1>{{user.username}}</h1>
	{% if user.name or user.location %}
	<p>
		{% if user.name %}{{ user.name }}{%end if%}
		{% if user.location %}
			From <a href="http://maps.google.com/?q={{ user.location }}">
				there is your loaction : {{ user.location }}
			</a>
		{% endif %}
	</p>
	{% endif %}
	{% if current_user.is_adminstrator() %}
	<p><a href="mailto:{{ user.email}}"> web-page-jumping to {{ user.email }}</a></p>
	{% endif %}
	{% if user = current_user %}
	<a class="btn btn-default" href="{{ url_for(.edit)}}">
		Edit Profile
	</a>
	{% endif %}
	{% if user.about_me %}
	<p><font color="F08080">{{ user.about_me }}</font></p>
	{% endif %}
	<p>
		Member since {{ moment(user.member_since).format('L') }}.
		Last_seen {{ moment(user.last_seen).fromNow() }}.
	</p>
</div>
{% endblock %}
	
		
	
		

